In [1]:
import os
input_path = 'sample_data/sample_generic_table_list.txt'

with open(input_path, 'r') as file:
    table_list = file.read().split('\n')

print(table_list)

['FINANCE_DW.TGL_ACCOUNT_DIM', ',FINANCE_DW.TGL_JOURNAL_ENTRY_FACT', ',SALES_MART.TCUSTOMER_MASTER', ',SALES_MART.TSALES_ORDER_HEADER', ',SALES_MART.TSALES_ORDER_DETAIL', 'OPERATIONS_STG.TSHIPMENT_STATUS_RAW', 'OPERATIONS_STG.TINVENTORY_LEVEL_SNAPSHOT', ',HR_RAW.TEMPL_PROFILE_CURRENT', ',HR_RAW.TEMPL_PAYROLL_HISTORY', ',MARKETING_ANALYSIS.TCAMPAIGN_PERFORMANCE_AGG', ',MARKETING_ANALYSIS.TWEB_CLICKSTREAM_SESSION', ',SUPPLYCHAIN_DW.TVENDOR_DIM', ',SUPPLYCHAIN_DW.TPURCHASE_ORDER_FACT']

In [2]:
table_list = [table.lstrip(',') for table in table_list if table]
table_list[-3:]

['MARKETING_ANALYSIS.TWEB_CLICKSTREAM_SESSION',
 'SUPPLYCHAIN_DW.TVENDOR_DIM',
 'SUPPLYCHAIN_DW.TPURCHASE_ORDER_FACT']

# Step 1: Format the table list

In [3]:
formatted_table_names_list = [table.lower().split('.')[1] for table in table_list]
formatted_table_names_list[-3:]

['tweb_clickstream_session', 'tvendor_dim', 'tpurchase_order_fact']

# Step 2: Generate Files

In [4]:
output_directory = 'sample_output/sql_files'

if not os.path.exists(output_directory):
    os.makedirs(output_directory)

for table_name in formatted_table_names_list:
    file_name = f"{table_name}.sql"
    file_path = os.path.join(output_directory, file_name)
    with open(file_path, 'w') as file:
        comment = """/* This file was generated via python script. */\n\n"""
        file.write(comment)

        for i in range(10, 101, 10):
            step = step = f"""/******************************************************* STEP {i} ****************************************************************/\n\n"""
            file.write(step)

        end = f"""/********************************************************* END *************************************************************************/"""
        file.write(end)


print(f"SQL files created successfully in {output_directory}")

SQL files created successfully in sample_output/sql_files